* {
  box-sizing: border-box;
}
body {
  margin:0px;
  padding: 0px;
}

.cards-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.cards-wrapper .card {
  margin: 0.5rem;
}

.content-wrapper {
  background-color: #161825;
  flex-grow: 1;
  height: 100%
}

.custom-shadow {
  box-shadow: 0.1rem 0.1rem 0.5rem rgba(0,0,0,0.5)
}

.main {
  display: flex;
  flex-direction: row;
}